body
  background #eee
  font-family: "Noto Sans Japanese"
  font-weight 200

.container
  max-width 960px
  margin 0 auto
  & > h2
    color #111
    font-size 32px
    letter-spacing .2em
    margin-top 100px
    text-align center
    +mobile()
      font-size 5vw
  & > h3
    color #333
    font-size 24px
    margin-top 50px
    text-align center
    +mobile()
      font-size 4vw
  & > p
    color #333
    font-size 16px
    line-height 1.8
    margin-top 1.8em
    text-align center
    +mobile()
      font-size 3.2vw

  +mobile()
    width 90%
