.help
  background $_accent
  margin-top 120px
  padding 40px 0
  position relative
  text-align center
  & > *
    position relative
    z-index 1
  &--heading
    align-items center
    color #fff
    display flex
    justify-content center
    .heading--icon
      font-size 42px
    h2
      font-size 28px
      letter-spacing .3em
      margin-left 30px
      +mobile()
        font-size 5vw
        letter-spacing .2em
  &--content
    margin-top 40px
    p
      color rgba(#fff, .8)
      font-size 14px
      line-height 1.2
      margin-top 1.2em
  &--button
    border 1px solid #fff
    border-radius 25px
    color #fff
    display inline-block
    font-size 16px
    height 42px
    line-height 42px
    margin-top 50px
    padding 0 120px
    text-decoration none
    transition all .12s ease
    &:hover
      background #fff
      color $_accent
    &:active
      opacity 0.7
  +mobile()
    &--heading
      flex-direction column
      h2
        line-height 1.4
        margin 20px 0 0
    &--button
      display block
      padding 0
