.pickup
  margin-top -75px
  &--wrapper
    display flex
    padding-bottom 10px
  &-item
    background #fff
    box-shadow 0 4px 4px rgba(#000, .2)
    flex 1
    padding 30px 30px 18px
    &:not(:first-child)
      margin-left 30px
    &--heading
      display flex
      span
        color $_primary
        font-size 24px
        height 24px
        line-height 24px
        width 24px
      h3
        color #111
        font-size 18px
        line-height 24px
        margin-left 10px
    &--content
      color #555
      font-size 14px
      line-height 1.7
      margin-top 18px
  +mobile()
    &--wrapper
      flex-direction column
    &-item
      &:not(:first-child)
        margin 18px 0 0
