.wrapper
  background #fff
  border 1px solid  #ddd
  margin 0 4%
  padding 12px 24px
  &--margin
    margin-bottom 42px
    margin-top 24px

$primary = #262d39
$accent = #5AAEA8

h3
  border-left 2px solid  $accent
  color $primary
  font-size 18px
  font-weight normal
  margin-bottom 32px
  padding .4em .5em
