.not-found
  align-items center
  display flex
  flex-direction column
  height 100vh
  justify-content center
  position relative
  h1
    color #888
    font-size 20vw
    font-weight 100
  p
    color #aaa
    font-size (20vw * 3 / 14)
    margin-top 12px
