.page
  &-header
    background #fff
    border-bottom 1px solid #ccc
    box-sizing border-box
    padding 32px 4% 0
    width 100%
    &--title
      color #111
      font-size 32px
      font-weight 200
    &--description
      color #888
      font-size 14px
      margin 12px 0 24px;
    // page-header-tab
    &-tab
      display flex
      margin-bottom -1px
      position relative
      z-index 1
      &--item
        border-bottom 1px solid transparent
        color #888
        cursor pointer
        font-size 12px
        padding 1em 0
        text-decoration none
        transition all .12s ease
        &:not(:first-child)
          margin-left 3em
        &:not(&__active):hover
          border-bottom-color #5aaea8
          color #555
        &__active
          color #5aaea8
          cursor default
