.separation
  &--grid
    align-items flex-start
    display flex
    margin 24px 4% 42px
    .grid
      &--table
        margin-right 2%
        width 40%
        .table--wrapper
          margin 0
      &--form
        flex 1
        margin 0
