@import "_reset"

// for LP
@import "lp/_variables"
@import "lp/_base"
@import "lp/_hero"
@import "lp/_pickup"
@import "lp/_feature"
@import "lp/_help"
@import "lp/_get-started"
@import "lp/_footer"

// for dashboard
@import "dashboard/_base"
@import "dashboard/_layout"
@import "dashboard/_page"
@import "dashboard/_sidebar"
@import "dashboard/_table"
@import "dashboard/_file-input"
@import "dashboard/_home"
@import "dashboard/_timeline"
@import "dashboard/_regist"
@import "dashboard/_separation"
@import "dashboard/_login"
@import "dashboard/_not-found"

// libraries
@import "../../node_modules/loaders.css/loaders.css"

.ball-scale-ripple-multiple
  div
    border-color $accent
